.slide-deck {
    &__sidebar {
        &--active {
            .slide-deck__sidebar-list {
                opacity: 1;
            }

            .slide-deck__sidebar-icon {
                opacity: 0;
            }
        }
    }

    &__sidebar-icon {
        opacity: .4;
        font-size: 1.5em;
        font-weight: 400;
        cursor: pointer;
        transition: all 1s ease;
    }

    &__sidebar-list {
        list-style: none;
        margin: 0;
        padding: 0;
        opacity: 0;
        transition: all 1s ease;
    }

    &__sidebar-list-item {
        opacity: 0.6;

        &-btn {
            border: none;
            background: none;
            cursor: pointer;

            &:focus {
                border: none;
            }

            &:active {
                border: none;
            }
        }

        &--active {
            opacity: 1;
        }
    }
}
