@import "./util";
@import "./elevations";

// sections
@import "./sections/attendees.scss";

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: lighter;
}

a {
    color: inherit;
}

.app__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease 1s;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#app-main-content {
    transition: transform 1s ease;
}

#app-photo-galley-counter {
    position: fixed;
    right: 24px;
    bottom: 24px;
    font-size: 1.5em;
    font-weight: 500;
    opacity: 0;
    color: white;
    transition: opacity 0.5s ease-out;
}

.app__main-container {
    max-width: 600px;
}

.app__section {
    margin: 24px 0;
    padding: 24px;
    background-color: white;
}

.app__img {
    max-width: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}
@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: 0.5rem;
    }
    .vid-info h1 {
        margin-bottom: 0.2rem;
    }
}
@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}
