@import "./util";
@import "./elevations";

// components
@import "./slide-deck";

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: lighter;
}

a {
    color: inherit;
}

#app-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: all ease 1s;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#app-photo-galley-counter {
    position: fixed;
    right: 24px;
    bottom: 24px;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    transition: opacity 0.5s ease-out;
}

#scroll-instructions {
    position: fixed;
    bottom: 48px;
    transition: opacity 1s ease;
    animation: bounce 1s ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#slide-deck-sidebar {
    position: fixed;
    right: 48px;
    top: 48px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50%);
    }
}

// slides
.slide {
    position: fixed;
    opacity: 0;
    top: 48px;

    &__subtitle {
        font-weight: 400;
    }
}
